extends layout

block layout-content
    div.container-fluid.lockedView
        div.row.justify-content-center
            h1 Node Auth App
        div.row.justify-content-center
            h3 Authenticating since 1971
        div.row.justify-content-center
            a(href="/user") And go!
