block variables
doctype html
html
    head
        meta(charset='utf-8')
        link(rel='shortcut icon', href='/favicon.ico')
        meta(name'viewport', content='width=device-width, initial-scale=1d, shrink-to-fit=no')
        meta(name='theme-color', content='#45B39D')
        title #{title} | Node Auth App
        link(rel='stylesheet' href='/bootstrap.css')
        link(rel='stylesheet' href='/style.css')

    body
        div#root
            block layout-content
